<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Driver Page</h1>
    <form action="/drivers" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/><br>
      <label for="image">Image</label>
      <input type="text" name="image" id="image" /><br>
      <label for="age">age</label>
      <input type="text" name="age" id="age" /><br>
      <input type="submit" value="Add Driver">
    </form>
  </body>
</html>